@(user:String, state:String)(implicit request: RequestHeader)

@main("Waiting Room"){
    <body style="background-color:rgba(161, 110, 209, .7)">
        <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
        <input type="hidden" id="usernameInput" value="@user">
        <input type="hidden" id="ws-route" value="@routes.WebSocketApp.socket().absoluteURL()">
        <input type="hidden" id="stateInput" value="@state">
    <script src="@routes.Assets.versioned("javascript/gameroom.js")"></script>
}