@()(implicit request: RequestHeader)

@main("Login") {
  <body style="background-color:rgba(161, 110, 209, .7)">
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="validateJoinRoute" value="@routes.Application.validateUserJoin()">
  <input type="hidden" id="validatecsrf" value="@routes.Application.validatecsrf()">
  
  <input type="hidden" id="validateHostRoute" value="@routes.Application.validateUserHost()">
  @*<!--<input type="hidden" id="CodeRoute" value="@routes.Application.generateCode()">-->
  *@<input type="hidden" id="gameRoute" value="@routes.Application.startGame()">

  <input type="hidden" id="SocketRoute" value="@routes.WebSocketApp.socket()">




    <div id="maindiv"></div>
  </body>

    
  <script src="@routes.Assets.versioned("javascript/login.js")"></script>
}
