body {
    background: linear-gradient(to bottom right, #C2DBF4, #C5A4D4) no-repeat center center fixed;
    /*background-color: #c2dbf4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23c2dbf4' width='11' height='11'/%3E%3Crect fill='%23c1daf4' x='10' width='11' height='11'/%3E%3Crect fill='%23c1d9f4' y='10' width='11' height='11'/%3E%3Crect fill='%23c0d9f3' x='20' width='11' height='11'/%3E%3Crect fill='%23c0d8f3' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23c0d7f3' y='20' width='11' height='11'/%3E%3Crect fill='%23bfd6f3' x='30' width='11' height='11'/%3E%3Crect fill='%23bfd5f3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23bed4f2' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23bed4f2' y='30' width='11' height='11'/%3E%3Crect fill='%23bed3f2' x='40' width='11' height='11'/%3E%3Crect fill='%23bdd2f2' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23bdd1f1' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23bdd0f1' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23bdcff1' y='40' width='11' height='11'/%3E%3Crect fill='%23bccef0' x='50' width='11' height='11'/%3E%3Crect fill='%23bccef0' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23bccdf0' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23bcccef' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bccbef' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23bccaef' y='50' width='11' height='11'/%3E%3Crect fill='%23bcc9ee' x='60' width='11' height='11'/%3E%3Crect fill='%23bcc8ee' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23bcc7ed' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23bcc6ed' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23bcc6ed' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23bcc5ec' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23bcc4ec' x='70' width='11' height='11'/%3E%3Crect fill='%23bcc3eb' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23bcc2eb' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23bcc1ea' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23bcc0ea' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23bcbfe9' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23bcbee9' x='80' width='11' height='11'/%3E%3Crect fill='%23bdbde8' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23bdbce7' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23bdbbe7' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23bdbae6' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23bdb9e6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23beb8e5' x='90' width='11' height='11'/%3E%3Crect fill='%23beb7e4' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23beb6e4' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23bfb5e3' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23bfb4e2' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23bfb3e1' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23bfb2e1' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23c0b1e0' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23c0b0df' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23c1afde' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23c1aedd' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23c1addd' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23c2acdc' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23c2abdb' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23c2aada' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23c3a9d9' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23c3a8d8' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23c4a7d7' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23c4a6d6' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23c5a5d5' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23c5a4d4' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-color: #ee888b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23ee888b' width='11' height='11'/%3E%3Crect fill='%23ee888d' x='10' width='11' height='11'/%3E%3Crect fill='%23ee888e' y='10' width='11' height='11'/%3E%3Crect fill='%23ee8990' x='20' width='11' height='11'/%3E%3Crect fill='%23ee8992' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23ee8993' y='20' width='11' height='11'/%3E%3Crect fill='%23ed8995' x='30' width='11' height='11'/%3E%3Crect fill='%23ed8996' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23ed8a98' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23ed8a9a' y='30' width='11' height='11'/%3E%3Crect fill='%23ec8a9b' x='40' width='11' height='11'/%3E%3Crect fill='%23ec8b9d' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23ec8b9e' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23eb8ba0' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23eb8ca2' y='40' width='11' height='11'/%3E%3Crect fill='%23ea8ca3' x='50' width='11' height='11'/%3E%3Crect fill='%23ea8ca5' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23ea8da6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e98da8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e88ea9' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e88eab' y='50' width='11' height='11'/%3E%3Crect fill='%23e78fac' x='60' width='11' height='11'/%3E%3Crect fill='%23e78fad' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e690af' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e590b0' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e591b2' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e491b3' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e392b4' x='70' width='11' height='11'/%3E%3Crect fill='%23e392b6' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e293b7' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e193b8' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e094b9' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e094bb' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23df95bc' x='80' width='11' height='11'/%3E%3Crect fill='%23de95bd' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23dd96be' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23dc96c0' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23db97c1' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23da98c2' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23d998c3' x='90' width='11' height='11'/%3E%3Crect fill='%23d899c4' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23d899c5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23d79ac6' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23d69ac7' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23d59bc8' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23d49cc9' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23d39cca' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23d29dcb' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23d19dcc' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23d09ecd' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ce9fcd' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23cd9fce' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23cca0cf' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23cba0d0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23caa1d1' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23c9a2d1' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23c8a2d2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23c7a3d3' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23c6a3d3' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23c5a4d4' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;*/
}

.card {
    border-radius:0;
    border: 4px solid #D12D4B;
    background-color: #C2DBF4;
}

.card-title {
    border: 4px solid #D12D4B;
    padding: 0.2rem 0.75rem;
    font-weight: bold;
    background: #F2B4B9;
}

.card-header, .card-footer {
    background: inherit;
    border: none;
}

.card-header {
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-footer {
    padding-top: 0;
    padding-bottom: 1rem;
}

.window {
    border: 4px solid #D12D4B;
    padding: 0.2rem 0.75rem;
    background: #D3C6E3;
}

.btn {
    border-radius: 0;
    padding: 0.1rem 0.75rem
}

.btn-primary {
    border: 4px solid #D12D4B;
    background: #D3C6E3;
    color: #000000;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus {
    background: #D12D4B;
    color: #ffffff;
    border: 4px solid #D12D4B;
}

.btn-secondary {
    background: #F2B4B9;
    color: #000000;
    font-weight: bold;
    border: 4px solid #D12D4B;
}

.btn-secondary:hover, .btn-secondary:focus {
    background: #D12D4B;
    color: #ffffff;
    border: 4px solid #D12D4B;
}

.form-control {
    border: 4px solid #D12D4B;
    border-radius: 0;
}

.form-control:focus {
    border: 4px solid #F2B4B9;
    border-radius: 0;
    box-shadow: none;
}